{% extends 'recipes/home.html' %}
{% block content %}
<div class="recipe">
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'recipe_edit' pk=recipe.pk %}"><span
            class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    <h2>{{ recipe.title }}</h2>
    <p>Used ingredients: {{ recipe.ingredients.all }}</p>
    <p>{{ recipe.description|linebreaksbr }}</p>
    {#<p>Recipe belongs to category:</p> <h6><a href="{% url 'category_detail' pk=category.pk %}">{{ recipe.categories.all }}</a></h6>#}
    {#<p>Author chef of this recipe:</p> <h5><a href="{% url 'chef_detail' pk=chef.pk %}">{{ recipe.chef.name }}</a></h5>#}
    {% if recipe.created_at %}
    <div class="date">
        {{ recipe.created_at }}
    </div>
    {% endif %}
</div>
{% endblock %}